<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cadastrar.css">
    <title>Escola XYZ</title>
</head>

<body>
    <header>
        <div class="header-content">
            <h1>Escola XYZ</h1>
            <p>Área do Funcionário</p>
        </div>
    </header>

    <form class="container" action="/cadastroAluno" method="post">
        <h2>Cadastrar Aluno</h2>
        <br>
        Nome: <input type="text" name="nome" required /><br />
        CPF: <input type="text" name="cpf" required /><br />
        Senha: <input type="password" name="senha" required />
        <input type="submit" value="Cadastrar" />
    </form>
</body>

</html>