<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/homeSecretaria.css">
    <title>Escola XYZ</title>
</head>

<body>
    <header>
        <div class="header-content">
            <h1>Escola XYZ</h1>
            <p>Área do Funcionário</p>

            <ul>
                <li><a>Usuário: {{ funcionario[1] }}</a></li>
            </ul>
        </div>

        <div class="voltar">
            <a href="/login">Sair</a>
        </div>

    </header>

    <div class="section-group">
        <div class="container">
            <div class="row">
                <div class="section col-6">

                    <div class="cadastrar-option">
                        <a href="/cadastroAluno">Cadastrar Aluno</a>
                    </div>
                </div>

                <div class="section col-6">

                    <div class="cadastrar-option">
                        <a href="/cadastroFuncionario">Cadastrar Funcionário</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section col-6">

                    <div class="cadastrar-option">
                        <a href="/cadastroMateria">Cadastrar Disciplina</a>
                    </div>
                </div>

                <div class="section col-6">

                    <div class="cadastrar-option">
                        <a href="/cadastroNota">Cadastrar Nota</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>