<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/cadastrar.css">
  <title>Escola XYZ</title>
</head>

<body>
  <header>
    <div class="header-content">
      <h1>Escola XYZ</h1>
      <p>Área do Funcionário</p>
    </div>
  </header>

  <form class="container" action="/updateMateria" method="post">
    <h2>Atualizar Matéria</h2>
    <br>
    Matéria: <input type="text" name="materia" value="{{ materia[1] }}" required /><br />
    <input type="hidden" name="id" value="{{ materia[0] }}" />
    <input type="submit" value="Atualizar" />
  </form>
</body>

</html>